---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.prodigi.com/v4.0/orders
    body:
      encoding: UTF-8
      string: '{"shippingMethod":"Budget","recipient":{"address":{}},"items":[]}'
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"outcome":"ValidationFailed","failures":{"recipient.name":[{"code":"Required","providedValue":null}],"recipient.address.line1":[{"code":"Required","providedValue":null}],"recipient.address.townOrCity":[{"code":"Required","providedValue":null}],"recipient.address.countryCode":[{"code":"Required","providedValue":null}],"recipient.address.postalOrZipCode":[{"code":"Required","providedValue":null}],"items":[{"code":"MustNotBeEmptyArray","providedValue":[]}]},"traceParent":"00-3c88eb3f8a719e0cf398ee2f7ad55d33-895b00afcd143641-00"}'
  recorded_at: Thu, 28 Apr 2022 21:09:11 GMT
recorded_with: VCR 6.1.0
