---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"AFGHANISTAN","isoCode":"AF"},{"name":"ALAND ISLANDS","isoCode":"AX"},{"name":"ALBANIA","isoCode":"AL"},{"name":"ALGERIA","isoCode":"DZ"},{"name":"AMERICAN
        SAMOA","isoCode":"AS"},{"name":"ANDORRA","isoCode":"AD"},{"name":"ANGOLA","isoCode":"AO"},{"name":"ANGUILLA","isoCode":"AI"},{"name":"ANTARCTICA","isoCode":"AQ"},{"name":"ANTIGUA
        AND BARBUDA","isoCode":"AG"},{"name":"ARGENTINA","isoCode":"AR"},{"name":"ARMENIA","isoCode":"AM"},{"name":"ARUBA","isoCode":"AW"},{"name":"AUSTRALIA","isoCode":"AU"},{"name[...]
