---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders/795145/images/batch
    body:
      encoding: UTF-8
      string: '[{"sku":"GLOBAL-PHO-4X6-PRO","url":"http://example.com/mytestphoto.jpg","copies":1}]'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"id":1002065,"sku":"GLOBAL-PHO-4X6-PRO","url":"http://example.com/mytestphoto.jpg","status":"NotYetDownloaded","copies":1,"sizing":"Crop","priceToUser":null,"price":0,"md5Hash":null,"previewUrl":null,"thumbnailUrl":null,"attributes":null,"errorMessage":null}]},"statusTxt":"OK","statusCode":200}'
  recorded_at: Tue, 27 Aug 2019 12:32:26 GMT
recorded_with: VCR 5.0.0
