---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders
    body:
      encoding: UTF-8
      string: '{"recipientName":"FirstName LastName","countryCode":"US","preferredShippingMethod":"Budget"}'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":877674,"address1":null,"address2":null,"postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2020-06-05T17:20:12.4030341Z","lastUpdated":"2020-06-05T17:20:12.4030341Z","canCancel":true,"canHold":true,"canUpdateShipping":true,"canUpdateImages":false,"tag":null,"packingSlipUrl":null,"errorMessage":null},"statusTxt":"OK","statusCode":200}'
  recorded_at: Fri, 05 Jun 2020 17:20:12 GMT
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders/877674/images/batch
    body:
      encoding: UTF-8
      string: '[{"sku":"GLOBAL-PHO-4X6-PRO","url":"http://example.com/myTestPhoto.jpg","copies":1},{"sku":"GLOBAL-PHO-10X12-PRO","url":"http://example.com/myLargeTestPhoto.jpg","copies":1}]'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"id":1093272,"sku":"GLOBAL-PHO-4X6-PRO","url":"http://example.com/myTestPhoto.jpg","status":"NotYetDownloaded","copies":1,"sizing":"Crop","priceToUser":null,"price":0,"md5Hash":null,"previewUrl":null,"thumbnailUrl":null,"attributes":null,"errorMessage":null},{"id":1093273,"sku":"GLOBAL-PHO-10X12-PRO","url":"http://example.com/myLargeTestPhoto.jpg","status":"NotYetDownloaded","copies":1,"sizing":"Crop","priceToUser":null,"price":0,"md5Hash":null,"previewUrl":null,"thumbnailUrl":null,"attributes":null,"errorMessage":null}]},"statusTxt":"OK","statusCode":200}'
  recorded_at: Fri, 05 Jun 2020 17:20:12 GMT
recorded_with: VCR 5.1.0
