---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.prodigi.com/v4.0/orders/ord_1059863/actions/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"outcome":"Cancelled","order":{"id":"ord_1059863","created":"2022-04-28T14:05:59.303Z","lastUpdated":"2022-04-28T21:24:43.6897649Z","callbackUrl":null,"merchantReference":null,"shippingMethod":"Budget","idempotencyKey":null,"status":{"stage":"Cancelled","issues":[{"objectId":"ori_1328088","errorCode":"order.items.assets.FailedToDownloaded","description":"File
        not downloaded for item ''ori_1328088'' asset ''default'' at location ''https://example.com/image.jpg''","authorisationDetails":null}],"details":{"downloadAssets":"Error","printReadyAssetsPrepared":"NotStarted","allocateProductionLocation":"Complete","inProduction":"NotStarted","shipping":"NotStarted"}},"charges":[{"id":"chg_439925","prodigiInvoiceNumber":null,"totalCost":{"amount":"0.00","currency":"GBP"},"totalTax":{"amount":"0.00","currency":"GBP"},"items":[]}],"shipments":[{"id":"shp_626211","dispatchDate":null,"carrier":{"name":"USPS","service":"USPS
        First Class Post"},"fulfillmentLocation":{"countryCode":"US","labCode":"us2"},"tracking":null,"items":[{"itemId":"ori_1328088"}],"status":"Cancelled"}],"recipient":{"name":"Testy
        McTestface","email":null,"phoneNumber":null,"address":{"line1":"1 Main Street","line2":null,"postalOrZipCode":"90210","countryCode":"US","townOrCity":"Holywood","stateOrCounty":null}},"items":[{"id":"ori_1328088","status":"Invalid","merchantReference":null,"sku":"GLOBAL-PHO-4X6-PRO","copies":1,"sizing":"fillPrintArea","thumbnailUrl":null,"attributes":{"finish":"lustre"},"assets":[{"id":"ast_967","printArea":"default","md5Hash":null,"url":"https://example.com/image.jpg","thumbnailUrl":null,"status":"Error"}],"recipientCost":null}],"packingSlip":null,"metadata":null},"traceParent":"00-8941174c4dd49132594fbaa1b16f7709-d07549c80ccfd04e-00"}'
  recorded_at: Thu, 28 Apr 2022 21:24:45 GMT
recorded_with: VCR 6.1.0
