---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders/795145
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":795145,"address1":null,"address2":null,"postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":408,"shipments":[{"carrier":"UK
        NonLiveShippingInfoService Postal Service","photoIds":[1002065],"shipmentId":null,"trackingNumber":null,"trackingUrl":null,"isTracked":false,"earliestEstimatedArrivalDate":"2019-08-28T00:00:00Z","latestEstimatedArrivalDate":"2019-08-30T23:59:59Z","shippedOn":null}]},"images":[{"id":1002065,"sku":"GLOBAL-PHO-4X6-PRO","url":"http://example.com/mytestphoto.jpg","status":"NotYetDownloaded","copies":1,"sizing":"Crop","priceToUser":null,"price":0,"md5Hash":null,"previewUrl":null,"thumbnailUrl":null,"attributes":null,"errorMessage":null}],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2019-08-27T12:31:33.1","lastUpdated":"2019-08-27T12:32:26.21","canCancel":true,"canHold":false,"canUpdateShipping":true,"canUpdateImages":false,"tag":null,"errorMessage":null},"statusTxt":"OK","statusCode":200}'
  recorded_at: Tue, 27 Aug 2019 12:33:45 GMT
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders/795145/status
    body:
      encoding: UTF-8
      string: '{"status":"Cancelled"}'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{},"statusTxt":"OK","statusCode":200}'
  recorded_at: Tue, 27 Aug 2019 12:33:46 GMT
recorded_with: VCR 5.0.0
