---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders?count=1&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"content":[{"id":795142,"address1":"House number","address2":"Street
        address","postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2019-08-27T12:29:53.197","lastUpdated":"2019-08-27T12:29:54.397","canCancel":true,"canHold":true,"canUpdateShipping":true,"canUpdateImages":false,"tag":null,"errorMessage":null},{"id":795042,"address1":"My
        House","address2":null,"postalOrZipCode":"G1 3XX","countryCode":"GB","addressTownOrCity":"Glasgow","recipientName":"Tom
        Harvey","stateOrCounty":"Scotland","status":"Complete","payment":"InvoiceMe","paymentUrl":null,"price":525,"shippingInfo":{"price":500,"shipments":[{"carrier":"UK
        NonLiveShippingInfoService Postal Service","photoIds":[1001906],"shipmentId":"551382","trackingNumber":"XYZ123456ABC","trackingUrl":"http://www.royalmail.com/portal/rm/track?trackNumber=XYZ123456ABC","isTracked":false,"earliestEstimatedArrivalDate":"2019-08-27T00:00:00","latestEstimatedArrivalDate":"2019-08-29T23:59:59","shippedOn":null}]},"images":[{"id":1001906,"sku":"GLOBAL-PHO-4X6-PRO","url":"https://github.com/tomharvey/pwinty3-rb/raw/master/spec/TestImage.jpg","status":"Ok","copies":1,"sizing":"Crop","priceToUser":null,"price":25,"md5Hash":"5b2860286dc2146bec8a1f4e23f1740c","previewUrl":"https://pwintyimages.blob.core.windows.net/imagestorage-sandbox/795042/261ba5ca-e4e9-4f99-ae53-0b05f411c692.jpeg?sv=2018-03-28&sr=b&sig=hjkKbesPll1xf%2BAVuzm5q9aefJve0VMOC0g4ljS27FM%3D&se=2019-09-27T12%3A30%3A09Z&sp=rw","thumbnailUrl":"https://pwintyimages.blob.core.windows.net/imagestorage-sandbox/795042/26adcaf9-3386-4540-b7b2-cff431a4ae54.jpeg?sv=2018-03-28&sr=b&sig=sDyhv3%2Be5KLpCIRPFeSxK%2FEhVMUF4RA699TrhYItr1g%3D&se=2019-09-27T12%3A30%3A09Z&sp=rw","attributes":null,"errorMessage":null}],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2019-08-26T13:04:16.187","lastUpdated":"2019-08-26T13:24:34.293","canCancel":false,"canHold":false,"canUpdateShipping":false,"canUpdateImages":false,"tag":null,"errorMessage":null},{"id":795041,"address1":"My
        House","address2":null,"postalOrZipCode":"G1 3XX","countryCode":"GB","addressTownOrCity":"Glasgow","recip[...]
