---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.prodigi.com/v4.0/orders/ord_980865
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"outcome":"Ok","order":{"id":"ord_980865","created":"2021-05-14T14:47:22.147Z","lastUpdated":"2021-06-14T14:30:01.277Z","callbackUrl":null,"merchantReference":"0448e0a12454461abce0be77613199d0-1621003640","shippingMethod":"Budget","idempotencyKey":null,"status":{"stage":"Draft","issues":[],"details":{"downloadAssets":"NotStarted","printReadyAssetsPrepared":"NotStarted","allocateProductionLocation":"NotStarted","inProduction":"NotStarted","shipping":"NotStarted"}},"charges":[],"shipments":[],"recipient":{"name":"Test
        Customer","email":null,"phoneNumber":null,"address":{"line1":"Test Street
        Address","line2":null,"postalOrZipCode":"TEST ZIP","countryCode":"GB","townOrCity":"Test
        City","stateOrCounty":null}},"items":[],"packingSlip":null,"metadata":null},"traceParent":"00-9a9f98c3c7a676feb26347c71b891fa7-a9ca776258968742-00"}'
  recorded_at: Thu, 28 Apr 2022 09:46:55 GMT
recorded_with: VCR 6.1.0
