---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders/795042
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":795042,"address1":"My House","address2":null,"postalOrZipCode":"G1
        3XX","countryCode":"GB","addressTownOrCity":"Glasgow","recipientName":"Tom
        Harvey","stateOrCounty":"Scotland","status":"Submitted","payment":"InvoiceMe","paymentUrl":null,"price":525,"shippingInfo":{"price":500,"shipments":[{"carrier":"UK
        NonLiveShippingInfoService Postal Service","photoIds":[1001906],"shipmentId":"551382","trackingNumber":null,"trackingUrl":null,"isTracked":false,"earliestEstimatedArrivalDate":"2019-08-27T00:00:00","latestEstimatedArrivalDate":"2019-08-29T23:59:59","shippedOn":null}]},"images":[{"id":1001906,"sku":"GLOBAL-PHO-4X6-PRO","url":"https://github.com/tomharvey/pwinty3-rb/raw/master/spec/TestImage.jpg","status":"Ok","copies":1,"sizing":"Crop","priceToUser":null,"price":25,"md5Hash":"5b2860286dc2146bec8a1f4e23f1740c","previewUrl":"https://pwintyimages.blob.core.windows.net/imagestorage-sandbox/795042/261ba5ca-e4e9-4f99-ae53-0b05f411c692.jpeg?sv=2018-03-28&sr=b&sig=XGnyMkZ57ZiIT5yXdB1tc%2BkngPRtKtUdlup5Lo3hbW0%3D&se=2019-09-26T13%3A09%3A26Z&sp=rw","thumbnailUrl":"https://pwintyimages.blob.core.windows.net/imagestorage-sandbox/795042/26adcaf9-3386-4540-b7b2-cff431a4ae54.jpeg?sv=2018-03-28&sr=b&sig=JyrCmNvP8T4VTNWaWvj33nSe7LVFz5eyr8AVOnWRSqk%3D&se=2019-09-26T13%3A09%3A26Z&sp=rw","attributes":null,"errorMessage":null}],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2019-08-26T13:04:16.187","lastUpdated":"2019-08-26T13:04:48.413","canCancel":false,"canHold":false,"canUpdateShipping":false,"canUpdateImages":false,"tag":null,"errorMessage":null},"statusTxt":"OK","statusCode":200}'
  recorded_at: Mon, 26 Aug 2019 13:09:26 GMT
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders/795042/status
    body:
      encoding: UTF-8
      string: '{"status":"Cancelled"}'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: UTF-8
      string: '{"data":null,"statusTxt":"Cannot cancel order","statusCode":400}'
  recorded_at: Mon, 26 Aug 2019 13:09:27 GMT
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders/795042/status
    body:
      encoding: UTF-8
      string: '{"status":"AwaitingPayment"}'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: UTF-8
      string: '{"data":null,"statusTxt":"Transition to state AwaitingPayment from
        status Submitted with payment option InvoiceMe is not valid","statusCode":400}'
  recorded_at: Mon, 26 Aug 2019 13:09:27 GMT
recorded_with: VCR 5.0.0
