---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders?limit=50&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"content":[{"id":795145,"address1":null,"address2":null,"postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"Cancelled","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[{"id":1002065,"sku":"GLOBAL-PHO-4X6-PRO","url":"http://example.com/mytestphoto.jpg","status":"FileNotFoundAtUrl","copies":1,"sizing":"Crop","priceToUser":null,"price":0,"md5Hash":null,"previewUrl":null,"thumbnailUrl":null,"attributes":null,"errorMessage":null}],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2019-08-27T12:31:33.1","lastUpdated":"2019-08-27T12:54:53.853","canCancel":false,"canHold":true,"canUpdateShipping":true,"canUpdateImages":false,"tag":null,"errorMessage":null},{"id":795144,"address1":"My
        House","address2":null,"postalOrZipCode":"G1 3XX","countryCode":"GB","addressTownOrCity":"Glasgow","recipientName":"Tom
        Harvey","stateOrCounty":"Scotland","status":"Complete","payment":"InvoiceMe","paymentUrl":null,"price":525,"shippingInfo":{"price":500,"shipments":[{"carrier":"UK
        NonLiveShippingInfoService Postal Service","photoIds":[1002064],"shipmentId":"551416","trackingNumber":"XYZ123456ABC","trackingUrl":"http://www.royalmail.com/portal/rm/track?trackNumber=XYZ123456ABC","isTracked":false,"earliestEstimatedArrivalDate":"2019-08-28T00:00:00","latestEstimatedArrivalDate":"2019-08-30T23:59:59","shippedOn":null}]},"images":[{"id":1002064,"sku":"GLOBAL-PHO-4X6-PRO","url":"https://github.com/tomharvey/pwinty3-rb/raw/master/spec/TestImage.jpg","status":"Ok","copies":1,"sizing":"Crop","priceToUser":null,"price":25,"md5Hash":"5b2860286dc2146bec8a1f4e23f1740c","previewUrl":"https://pwintyimages.blob.core.windows.net/imagestorage-sandbox/795144/93d9235c-9ec0-4427-9bf2-645bf4989286.jpeg?sv=2018-03-28&sr=b&sig=2sCGQhWOHJXtypd1nmI0qRHHtstFoxol3sjSdaw3pJQ%3D&se=2019-09-27T16%3A00%3A23Z&sp=rw","thumbnailUrl":[...]
[...]
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders?count=1&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{[...]
