---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders
    body:
      encoding: UTF-8
      string: '{"recipientName":"FirstName LastName","countryCode":"US","preferredShippingMethod":"Budget"}'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":877671,"address1":null,"address2":null,"postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2020-06-05T17:19:46.1028534Z","lastUpdated":"2020-06-05T17:19:46.1028534Z","canCancel":true,"canHold":true,"canUpdateShipping":true,"canUpdateImages":false,"tag":null,"packingSlipUrl":null,"errorMessage":null},"statusTxt":"OK","statusCode":200}'
  recorded_at: Fri, 05 Jun 2020 17:19:46 GMT
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders?limit=50&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"content":[{"id":877671,"address1":null,"address2":null,"postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2020-06-05T17:19:46.103","lastUpdated":[...]
[...]
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders?limit=50&start=150
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"content":[{"id":877518,"address1":"My House","address2":null,"postalOrZipCode":"G1
        3XX","countryCode":"GB","addressTownOrCity":"Glasgow","recipientName":"Tom
        Harvey","stateOrCounty":"Scotland","status":"Complete","payment":"InvoiceMe","paymentUrl":null,"price":525,"shippingInfo":{"price":500,"shipments":[{"carrier":"UK
        NonLiveShippingInfoService Postal Service","photoIds":[414510],"shipmentId":"571330","trackingNumber":null,"trackingUrl":"","isTracked":false,"earliestEstimatedArrivalDate":"2020-06-06T00:00:00","latestEstimatedArrivalDate":"2020-06-08T23:59:59","shippedOn":null}]},"images":[{"id":1093184,"sku":"GLOBAL-PHO-4X6-PRO","url":"https://github.com/tomharvey/pwinty3-rb/raw/master/spec/TestImage.jpg","status":"Ok","copies":1,"sizing":"Crop","priceToUser":null,"price":25,"md5Hash":"5b2860286dc2146bec8a1f4e23f1740c","previewUrl":"https://pwintyimages.blob.core.windows.net/imagestorage-sandbox/877518/09299de4-bbf7-4a26-8eca-3f3f307abd37.jpg?sv=2019-02-02&sr=b&sig=2nzh%2BBz4SLFBkDI93ewdU9AUaJyk1fMlHbUAmeGRGBE%3D&skoid=867ca2d7-5abe-43c5-ba2b-dbce3ce7fc51&sktid=95af27ff-c62f-4dc3-b489-99265b850f61&skt=2020-06-05T17%3A08%3A55Z&ske=2020-06-11T17%3A13%3A55Z&sks=b&skv=2019-02-02&se=2020-07-05T17%3A19%3A53Z&sp=rw","thumbnailUrl":"https://pwintyimages.blob.core.windows.net/imagestorage-sandbox/877518/2bc1a018-37b5-414b-97d4-a4528d9ac3d5.jpg?sv=2019-02-02&sr=b&sig=GRdIsLmKoOs0IKdij4jSdH3oLQntnKUVOO%2BZZzxTaoQ%3D&skoid=867ca2d7-5abe-43c5-ba2b-dbce3ce7fc51&sktid=95af27ff-c62f-4dc3-b489-99265b850f61&skt=2020-06-05T17%3A08%3A55Z&ske=2020-06-11T17%3A13%3A55Z&sks=b&skv=2019-02-02&se=2020-07-05T17%3A19%3A53Z&sp=rw","attributes":{},"errorMessage":null}],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2020-06-05T16:20:54.137","lastUpdated":"2020-06-05T16:37:30.193","canCancel":false,"canHold":false,"canUpdateShipping":false,"canUpdateImages":false,"tag":null,"packingSlipUrl":null,"errorMessage":null},{"id":877517,"address1":"My
        House","address2":null,"postalOrZipCode":"G1 3XX","countryCode":"GB","addressTownOrCi[...]
[...]
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders?count=1&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{[...]
