---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.prodigi.com/v4.0/orders?skip=0&top=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"outcome":"Ok","hasMore":true,"nextUrl":"https://api.sandbox.prodigi.com/v4.0/Orders?Top=10&Skip=10","orders":[{"id":"ord_980865","created":"2021-05-14T14:47:22.147Z","lastUpdated":"2021-06-14T14:30:01.277Z","callbackUrl":null,"merchantReference":"0448e0a12454461abce0be77613199d0-1621003640","shippingMethod":"Budget","idempotencyKey":null,"status":{"stage":"Draft","issues":[],"details":{"downloadAssets":"NotStarted","printReadyAssetsPrepared":"NotStarted","allocateProductionLocation":"NotStarted","inProduction":"NotStarted","shipping":"NotStarted"}},"charges":[],"shipments":[],"recipient":{"name":"Test
        Customer","email":null,"phoneNumber":null,"address":{"line1":"Test Street
        Address","line2":null,"postalOrZipCode":"TEST ZIP","countryCode":"GB","townOrCity":"Test
        City","stateOrCounty":null}},"items":[],"packingSlip":null,"metadata":null},{"id":"ord_980864","created":"2021-05-14T14:47:19.553Z","lastUpdated":"2021-06-14T14:30:01.23Z","callbackUrl":null,"merchantReference":"cd471cc9b446438cad0c0b72b7a5dd32-1621003638","shippingMethod":"Budget","idempotencyKey":null,"status":{"stage":"Draft","issues":[],"details":{"downloadAssets":"NotStarted","printReadyAssetsPrepared":"NotStarted","allocateProductionLocation":"NotStarted","inProduction":"NotStarted","shipping":"NotStarted"}},"charges":[],"shipments":[],"recipient":{"name":"T[...]
[...]
