---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders?count=250&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"content":[{"id":794883,"address1":null,"address2":null,"postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2019-08-25T18:04:39.53","lastUpdated":"2019-08-25T18:04:39.53","canCancel":true,"canHold":true,"canUpdateShipping":true,"canUpdateImages":false,"tag":null,"errorMessage":null},{"id":794882,"address1":null,"address2":null,"postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2019-08-25T18:04:36.497","lastUpda[...]
