---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders
    body:
      encoding: UTF-8
      string: '{"recipientName":"Tom Harvey","address1":"My House","addressTownOrCity":"Glasgow","stateOrCounty":"Scotland","postalOrZipCode":"G1
        3XX","countryCode":"GB","preferredShippingMethod":"Budget"}'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":877677,"address1":"My House","address2":null,"postalOrZipCode":"G1
        3XX","countryCode":"GB","addressTownOrCity":"Glasgow","recipientName":"Tom
        Harvey","stateOrCounty":"Scotland","status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2020-06-05T17:20:15.8213473Z","lastUpdated":"2020-06-05T17:20:15.8213473Z","canCancel":true,"canHold":true,"canUpdateShipping":true,"canUpdateImages":false,"tag":null,"packingSlipUrl":null,"errorMessage":null},"statusTxt":"OK","statusCode":200}'
  recorded_at: Fri, 05 Jun 2020 17:20:16 GMT
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders/877677/images/batch
    body:
      encoding: UTF-8
      string: '[{"sku":"GLOBAL-PHO-4X6-PRO","url":"https://github.com/tomharvey/pwinty3-rb/raw/master/spec/TestImage.jpg","copies":1}]'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"id":1093275,"sku":"GLOBAL-PHO-4X6-PRO","url":"https://github.com/tomharvey/pwinty3-rb/raw/master/spec/TestImage.jpg","status":"NotYetDownloaded","copies":1,"sizing":"Crop","priceToUser":null,"price":0,"md5Hash":null,"previewUrl":null,"thumbnailUrl":null,"attributes":null,"errorMessage":null}]},"statusTxt":"OK","statusCode":200}'
  recorded_at: Fri, 05 Jun 2020 17:20:16 GMT
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders/877677/status
    body:
      encoding: UTF-8
      string: '{"status":"Submitted"}'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{},"statusTxt":"OK","statusCode":200}'
  recorded_at: Fri, 05 Jun 2020 17:20:17 GMT
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders/877677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":877677,"address1":"My House","address2":null,"postalOrZipCode":"G1
        3XX","countryCode":"GB","addressTownOrCity":"Glasgow","recipientName":"Tom
        Harvey","stateOrCounty":"Scotland","status":"Submitted","payment":"InvoiceMe","paymentUrl":null,"price":25,"shippingInfo":{"price":0,"shipments":[{"carrier":"UK
        NonLiveShippingInfoService Postal Service","photoIds":[0],"shipmentId":null,"trackingNumber":null,"trackingUrl":null,"isTracked":false,"earliestEstimatedArrivalDate":"2020-06-06T00:00:00Z","latestEstimatedArrivalDate":"2020-06-08T23:59:59Z","shippedOn":null}]},"images":[{"id":1093275,"sku":"GLOBAL-PHO-4X6-PRO","url":"https://github.com/tomharvey/pwinty3-rb/raw/master/spec/TestImage.jpg","status":"Ok","copies":1,"sizing":"Crop","priceToUser":null,"price":0,"md5Hash":"5b2860286dc2146bec8a1f4e23f1740c","previewUrl":"https://pwintyimages.blob.core.windows.net/imagestorage-sandbox/877677/00000000-0000-0000-0000-000000000000.jpg?sv=2019-02-02&sr=b&sig=VEmpow8yxbXcLZlCDj4LAq5BRxfsEfK304pFWvuKR04%3D&skoid=867ca2d7-5abe-43c5-ba2b-dbce3ce7fc51&sktid=95a[...]
