---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.prodigi.com/v4.0/orders
    body:
      encoding: UTF-8
      string: '{"shippingMethod":"Budget","recipient":{"name":"Testy McTestface","address":{"line1":"1
        Main Street","postalOrZipCode":"90210","countryCode":"US","townOrCity":"Holywood"}},"items":[{"sku":"GLOBAL-PHO-4X6-PRO","copies":1,"attributes":{"finish":"lustre"},"assets":[{"url":"https://example.com/image.jpg","printArea":"default"}],"sizing":"fillPrintArea"}]}'
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"outcome":"Created","order":{"id":"ord_1059863","created":"2022-04-28T14:05:59.303Z","lastUpdated":"2022-04-28T14:05:59.5025982Z","callbackUrl":null,"merchantReference":null,"shippingMethod":"Budget","idempotencyKey":null,"status":{"stage":"InProgress","issues":[],"details":{"downloadAssets":"NotStarted","printReadyAssetsPrepared":"NotStarted","allocateProductionLocation":"NotStarted","inProduction":"NotStarted","shipping":"NotStarted"}},"charges":[],"shipments":[],"recipient":{"name":"Testy
        McTestface","email":null,"phoneNumber":null,"address":{"line1":"1 Main Street","line2":null,"postalOrZipCode":"90210","countryCode":"US","townOrCity":"Holywood","stateOrCounty":null}},"items":[{"id":"ori_1328088","status":"NotYetDownloaded","merchantReference":null,"sku":"GLOBAL-PHO-4X6-PRO","copies":1,"sizing":"fillPrintArea","thumbnailUrl":null,"attributes":{"finish":"lustre"},"assets":[{"id":"ast_967","printArea":"default","md5Hash":null,"url":"https://example.com/image.jpg","thumbnailUrl":null,"status":"InProgress"}],"recipientCost":null}],"packingSlip":null,"metadata":null},"traceParent":"00-38a75dea34848e73a06948bcb9b219b8-115eb96de1858145-00"}'
  recorded_at: Thu, 28 Apr 2022 14:05:59 GMT
recorded_with: VCR 6.1.0
