---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pwinty.com/v3.0/orders
    body:
      encoding: UTF-8
      string: '{"recipientName":"FirstName LastName","countryCode":"US","preferredShippingMethod":"Budget"}'
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":795142,"address1":null,"address2":null,"postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"invoiceAmountNet":0,"invoiceTax":0,"invoiceCurrency":null,"merchantOrderId":null,"preferredShippingMethod":"Budget","mobileTelephone":null,"created":"2019-08-27T12:29:53.1959317Z","lastUpdated":"2019-08-27T12:29:53.1959317Z","canCancel":true,"canHold":true,"canUpdateShipping":true,"canUpdateImages":false,"tag":null,"errorMessage":null},"statusTxt":"OK","statusCode":200}'
  recorded_at: Tue, 27 Aug 2019 12:29:53 GMT
- request:
    method: put
    uri: https://sandbox.pwinty.com/v3.0/orders/795142/
    body:
      encoding: UTF-8
      string: '{"id":795142,"address1":"House number","address2":"Street address","postalOrZipCode":null,"countryCode":"US","addressTownOrCity":null,"recipientName":"FirstName
        LastName","stateOrCounty":null,"status":"NotYetSubmitted","payment":"InvoiceMe","paymentUrl":null,"price":0,"shippingInfo":{"price":0,"shipments":[]},"images":[],"merchantOrderId":null,"preferredShippi[...]
