---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.prodigi.com/v4.0/products/GLOBAL-CAN-4X6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"outcome":"Ok","product":{"sku":"GLOBAL-CAN-4X6","description":"Stretched
        Canvas on a 38mm Standard Stretcher Bar, 4x6 inches / 10x15 cm","productDimensions":{"width":4.0000,"height":6.0000,"units":"in"},"attributes":{"wrap":["Black","ImageWrap","MirrorWrap","White"],"glaze":["None"],"frame":["38mm
        Standard Stretcher Bar"],"edge":["38mm"]},"printAreas":{"default":{"required":true}},"variants":[{"attributes":{"wrap":"Black","glaze":"None","frame":"38mm
        Standard Stretcher Bar","edge":"38mm"},"shipsTo":["IM","LU","ID","CI","GR","FK","AL","LA","KY","BW","PK","DZ","HN","MV","VU","MY","BZ","JO","AO","PG","WF","MC","ET","GL","VA","LI","AR","SA","UZ","HK","MF","PW","ZM","RU","BG","UG","BN","BT","NL","GG","LC","KE","IQ","TM","TD","SV","VE","SC","DK","VC","SE","RE","CA","KH","NR","XK","AG","AX","ZA","MH","CD","FJ","CM","FO","LY","LV","AN","UY","TH","BS","GT","DJ","CX","VN","AD","BJ","NZ","SB","KN","SN","US","ER","MG","CF","MN","PY","NE","GD","GM","LB","TC","ES","BY","AW","HR","SK","FR","AS","MK","BL","NO","HT","GW","EG","NI","AZ","PR","CH","PT","BR","MU","IE","AT","GQ","NA","PL","GI","TL","MQ","KR","AU","NF","RO","SR","CG","FI","GU","BM","MX","YT","TZ","DM","QA","GA","BD","ZW","AI","TG","LK","PE","IN","IT","MS","CZ","NC","LR","SL","TW","RS","CK","TJ","KG","PM","SX","VG","BA","GE","GY","CN","MR","JM","AM","TO","SG","GH","HU","WS","MP","BI","FM","JE","AE","PA","TN","CO","ML","GB","MZ","IL","GN","BF","GP","CV","CY","BO","UA","DO","ST","NG","ME","MT","KM","TV","PF","SM","NP","RW","MW","JP","MM","MD","LT","IS","MO","CR","VI","OM","BH","SI","AF","LS","GF","KW","EE","TR","TT","EC","CL","PH","MA","DE","KZ","BB","KI","SZ","NU","BE","XX","SD","PN","SO","ZZ","IR","EH","UM","HM","KP","IO","GS","TF","BV","CC","SJ","AQ","SH","TK","SY","CU","YE","PS"],"printAreaSizes":{"default":{"horizontalResolution":622,"verticalResolution":922}}},{"attributes":{"wrap":"ImageWrap","glaze":"None","frame":"38mm
        Standard Stretcher Bar","edge":"38mm"},"shipsTo":["IM","LU","ID","CI","GR","FK","AL","LA","KY","BW","PK","DZ","HN","MV","VU","MY","BZ","JO","AO","PG","WF","MC","ET","GL","VA","LI","AR","SA","UZ","HK","MF","PW","ZM","RU","BG","UG","BN","BT","NL","GG","LC","KE","IQ","TM","TD","SV","VE","SC","DK","VC","SE","RE","CA","KH","NR","XK","AG","AX","ZA","MH","CD","FJ","CM","FO","LY","LV","AN","UY","TH","BS","GT","DJ","CX","VN","A[...]
