---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pwinty.com/v3.0/orders/794822/SubmissionStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pwinty-Merchantid:
      - "<MERCHANT_ID>"
      X-Pwinty-Rest-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"794822","isValid":false,"photos":[],"generalErrors":["NoItemsInOrder","PostalAddressNotSet","PostalAddressNotSet"]},"statusTxt":"OK","statusCode":200}'
  recorded_at: Sun, 25 Aug 2019 18:04:49 GMT
recorded_with: VCR 5.0.0
